# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_anon_key_here

# Backend
NEXT_PUBLIC_BACKEND_URL=http://localhost:3001

# Target crossing ID (ambil dari tabel crossings setelah insert data)
NEXT_PUBLIC_CROSSING_ID=your_crossing_uuid_here
