@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Full height */
html,
body {
  width: 100%;
  min-height: 100vh;
}

/* Link */
a {
  color: inherit;
  text-decoration: none;
}